<HTML>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>gpt2-questionAndAnswer</title>
    </head>
    <body>
        <div class = "container">
            <div class="jumbotron mt-3">

                <h1>gpt2-questionAndAnswer</h1>
                <h3>generate answer related to your keyword </h3>
                <A>GitHub repository : </A> <A href="https://github.com/ha-mulan/gpt2-questionAndAnswer"> gpt2-covidArticle repo</A>
                <br>
                <A>Open API : </A> <A href=https://master-gpt2-question-and-answer-ha-mulan.endpoint.ainize.ai> on Ainize </A>

                <hr class="solid">

                <h2>How to use</h2>
                <div id="usage">
                    <p>1. input  keyword </p>
                    <p>2. Press the Run button and wait for about 15 seconds to get the result.</p>
                </div>


                <hr class="solid">
                <h2>Example</h2>
                <div id="usage">
                  <h5>if keyword is "kangaroo"  you can checkout the result like this</h5>
                </div>
                <hr class="solid">
		a kangaroo is a marsupial from the family macropodidae macropods meaning large foot in common use the term is used to describe the largest species from this family the red kangaroo the antilopine kangaroo and the eastern and western grey kangaroo of the macropus genus the family also includes many smaller species which include the wallabies treekangaroos wallaroos pademelons and the quokka some 63 living species in all  kangaroos are endemic to the continent of australia while the smaller macropods are found in the arid regions of south africa  the family has large ranges encompassing much of eastern and southern australia while the smaller species are found in the more southern parts of the continent  the genus macropus is often used to describe the macropods collectively

kangaroos are very large animals about the size of a large horse or a large dog but are barely tall enough to reach the ground without stools they have short sturdy feet adapted for life on a diet of smaller animals

like most marsupials female kangaroos are anaesthetized during their early embryonic stage to reducethe risk of genetic predation by feral grey kangaroos male kangaroos have their hind legs removed and left as paws for the sole purpose of walking


                <hr class="solid">
                <h2>Make your own anwer </h2>
                <p>Please enter keyword below</p>
                <input id='keyword'>
                <button onclick='printName()'>RUN</button>
                <p></p>
                <script type="text/javascript">
                 function printName()  {
                   const keyword = document.getElementById('keyword').value;

                   fetch('/api/?keyword='+keyword).then(function(response){
                     response.text().then(function(text){
                       document.getElementById("result").innerText = text;
                     })
                   })
                 }
               </script>
                  <hr class="solid">
                <h2>your generated answer</h2>
                  <hr class="solid">
                <div id='result'></div>

    </div>
            </div>
        </div>
    </body>
</HTML>
