<HTML>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>gpt2-covid19Article<</title>
    </head>
    <body>
        <div class = "container">
            <div class="jumbotron mt-3">

                <h1>gpt2-covid19Article</h1>
                <h3>generate covid19 Article related to your keyword </h3>
                <A>GitHub repository : </A> <A href="https://github.com/ha-mulan/gpt2-covidArticle"> gpt2-covidArticle repo</A>
                <br>
                <A>Open API : </A> <A href="https://ainize.ai/ha-mulan/gpt2-covidArticle?branch=master"> on Ainize </A>

                <hr class="solid">

                <h2>How to use</h2>
                <div id="usage">
                    <p>1. input article keyword name</p>
                    <p>2. Press the Run button and wait for about 15 seconds to get the result.</p>
                </div>


                <hr class="solid">
                <h2>Example</h2>
                <div id="usage">
                  <h5>if keyword is "droplet"  you can checkout the result like this</h5>
                </div>
                <hr class="solid">
                <p>droplet and contact precautions (EDCP) in the operating room at all times.</p>
        <p>Given the possibility of false negative testing (10 -30 %) 11 the American Society of Anesthesiology (ASA) recommends that all anesthesia professionals should utilize PPE appropriate for AGPs for all patients, during all diagnostic, therapeutic, and surgical procedures, when working near the airway.</p>
      <p>  If N95 masks are to be reused, (though not optimal) the ASA and CDC recommend a 5-day period of drying 13 or preferably decontamination using ultraviolet germicidal irradiation, vaporous hydrogen peroxide, or moist heat by autoclaving.</p>
      <p>  If the patient is a newborn and does not require PPE, the CDC suggests obtaining a flu-resistant surgical mask appropriate for airway use and wearing this mask during all aerosol-generating procedures.</p>
      <p>  If N95 masks are to be reused, the CDC suggests a 5-day period of drying 13 or preferably decontamination using ultraviolet germicidal irradiation, vaporous hydrogen peroxide, or moist heat by autoclaving.</p>
      <p>  If anesthetic giabilities are unknown for anesthetic procedures and the patient is a pediatric patient with known or suspected COVID-19 disease, the physician should request an otolaryngologist to review the medical history and evaluate for Risk of Bias (Appendix 1) 14</p>
      <p>  The proportions of patients testing negative for SARS-CoV-2 positively by RT-PCR ass</p>


                <hr class="solid">
                <h2>Make your own article </h2>
                <p>Please enter keyword below</p>
                <input id='keyword'>
                <button onclick='printName()'>RUN</button>
                <p></p>
                <script type="text/javascript">
                 function printName()  {
                   const keyword = document.getElementById('keyword').value;

                   fetch('/api/?keyword='+keyword).then(function(response){
                     response.text().then(function(text){
                       document.getElementById("result").innerText = text;
                     })
                   })
                 }
               </script>
                  <hr class="solid">
                <h2>your generated article</h2>
                  <hr class="solid">
                <div id='result'></div>

    </div>
            </div>
        </div>
    </body>
</HTML>
